extends base.pug

block scripts
    script(src='../static/index.js')

block style
    style
      include ../static/style.css

block content
    section#introsection 
        div  welcome to vivu's dance academy 
        div.small  cue routine reward

    section#missionsection
        h2 Our Misson
        div.card
            h3 Dance perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="../static/img/2.png")
                div.card-content
                    p This is the best dance academy
        div.card
            h3 Dance teaching 
            div.card-box
                div.card-img
                    img(src="../static/img/3.png")
                div.card-content
    section#sponsorsection
        h2 our sponsors
        div#sponsors
            img(src="../static/img/logo1.png", alt="sponsor image" class="spimage")
            img(src="../static/img/logo2.png", alt="sponsor image" class="spimage")
            img(src="../static/img/logo3.png", alt="sponsor image" class="spimage")
            img(src="../static/img/logo4.png", alt="sponsor image" class="spimage") 



//- extends base.pug
//- block scripts
//-     script(src='../static/index.js')
//- block style 
//-     style
//-         include ../static/style.css
//- block content 
//-     nav#navbar
//-         ul
//-             div#logo
//-             img(src="../static/img/logo.png")
//-                 |  HDA
//-             li #[a(href="/") Home ]
//-             li #[a(href="/") Contact ]
//-             li #[a(href="/") About ]
//-             li #[a(href="/") Join ]               
//-             li #[a(href="/") Contact us]

//-     section#introsection 
//-         div  welcome to vivu's dance academy 
//-         div.small  cue routine reward

//-     section#missionsection
//-         h2 Our Misson
//-         div.card
//-             h3 Dance perfection
//-             div.card-box
//-                 div.card-img
//-                             p This is the best dance academy
       
//-     section#sponsorsection
//-         h2 our sponsors
//-         div#sponsors
//-             img(src="../static/img/logo1.png", alt="sponsor image" class="spimage")
//-             img(src="../static/img/logo2.png", alt="sponsor image" class="spimage")
//-             img(src="../static/img/logo3.png", alt="sponsor image" class="spimage")
//-             img(src="../static/img/logo4.png", alt="sponsor image" class="spimage")        
//-                 div.card-content
//-                     p This is the best dance academy
//-         div.card
//-             h3 Dance the way you like
//-             div.card-box
//-                 div.card-img
//-                     img(src="../static/img/2.png")
//-                 div.card-content
//-                     p This is the best dance academy
//-         div.card
//-             h3 Dance teaching 
//-             div.card-box
//-                 div.card-img
//-                     img(src="../static/img/3.png")
//-                 div.card-content

